extends ../layout/index
block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Nosotros")
            .col-md-7
                h1 #{title.toUpperCase()}
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, ducimus temporibus. Tempora tempore odio exercitationem excepturi? Ratione harum quos suscipit!
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur vel, molestias, aut cupiditate culpa ducimus error alias temporibus provident soluta fuga minus officia sed accusantium! Ea sunt velit alias iste consequatur magni temporibus. A aut, ut qui ullam modi recusandae cumque assumenda voluptates excepturi iste nemo eligendi neque saepe aspernatur dolorum molestias hic labore harum expedita distinctio? Aut, facilis porro.
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam similique, dolores provident animi tempora sed?
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid")
                    h2.my-3 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt deleniti vitae rerum voluptatum debitis delectus ad quaerat asperiores quis aliquam.
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid")
                    h2.my-3 Destinos
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos quo nostrum totam at iste similique, magnam obcaecati sed.
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid")
                    h2.my-3 Precios
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem rerum, repellat distinctio magni odio commodi adipisci earum aspernatur tempore.