extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura
    .container.my-5
        h2.text-center.my-5 Proximos Viajes
        include ../layout/partials/cardviajes